<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.richgirls">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/richgirls"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".IndexActivity"
            android:label="@string/app_name"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".ListaContatosActivity"
            android:label="@string/label_lista_contatos"
            >



        </activity>
        <activity android:name=".TransferirActivity"
            android:label="@string/label_transferir">

        </activity>
        <activity android:name=".ComprovanteActivity"
            android:label="@string/label_transferir">

        </activity>

        <activity android:name=".LoginActivity"
            android:label="@string/login">

        </activity>
    </application>

</manifest>